@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #f0f0f0;
}


.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #7b8062 transparent #748e92 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.loader-text {
  margin-top: 30px;
  font-family: 'Russo One', sans-serif;
  z-index: 5;
  color: white;

} 

.loader-container-starter {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 1);
  z-index: 2;
  mask: url(../public/img/urban-sprite.png) no-repeat;
	mask-size: 3500% 100%;

}

.animation{
	animation: mask-play 1.2s steps(29) forwards;
  pointer-events: none;
}

@keyframes mask-play {
	from{
		mask-position: 0% 0%;
	}

	to{
		mask-position: 100% 0%;
	}
}

.move-mouse {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Russo One', sans-serif;
  animation: move-anim 5s linear infinite;
  z-index: 1;
  pointer-events: none;
}

.move-mouse-text {
  font-size: 20px;
  padding: 10px;
  color: black;
background-color: white;
  border: solid 1px white;
  border-radius: 20px;
  opacity: 0.8;
  pointer-events: none;

}

.label-3d {
position: absolute;
background : white;
color: rgb(31, 31, 31);
padding: 12px;
white-space: nowrap;
overflow: hidden;
border-radius: 50px;
cursor: pointer;
font-size: 25px;
border: 3px solid rgb(35, 35, 43);
animation: move-anim 5s linear infinite;
}

.label-3d:hover {
  animation: none;
  border: 3px solid rgb(14, 107, 162);
}

.chill-place {
  padding: 12px;
  font-family: 'Russo One', sans-serif;

}

.place-information {
  background-color: white;
  position: absolute;
  width: 300px;
  height: 100vh;
  right:-300px;
  top:0;
  z-index: 5; 
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  }

  .snp-info{
    color: black;
    font-family: 'Russo One', sans-serif;
  }



.button-31 {
  background-color: #222;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 5px 15px 5px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

@media (max-width: 500px) {
  .move-mouse {
    opacity: 0;
    z-index: 0;
  }
}




@keyframes move-anim {
  from { opacity: 0.9; }
  to { opacity: 0;  }
 }


@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}



